<footer class="footer-area pt-85 pb-90">
            <div class="container">
                <div class="footer-top text-center">
                    <div class="footer-menu footer-menu-mrg footer-menu-hover-border">
                        <nav>
                            <ul>
                                <li><a href="{{BASE_URL}}shop">shop</a></li>
                                <li><a href="{{BASE_URL}}about-us">about</a></li>
                                <li><a href="#">Warrenty </a></li>
                                <li><a href="{{BASE_URL}}contact">Contact</a></li>
                                <li><a href="{{BASE_URL}}app">mbay App</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="footer-middle footer-middle-mrg">
                    <div class="row">
                        <div class="col-lg-3 col-md-3">
                            <div class="social-style-3-wrap xs-center">
                                <span>follow us</span>
                                <div class="social-style-1">
                                    <a href="#"><i class="icon-social-twitter"></i></a>
                                    <a href="#"><i class="icon-social-facebook"></i></a>
                                    <a href="#"><i class="icon-social-instagram"></i></a>
                                    <a href="#"><i class="icon-social-youtube"></i></a>
                                    <a href="#"><i class="icon-social-pinterest"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="contact-info-wrap-2 text-center">
                                <div class="footer-logo footer-logo-mrg">
                                    <a href="#"><img src="assets/shop/images/logo/mbay.svg" alt="logo"></a>
                                </div>
                                <p>Muscat, Oman</p>
                                <p>+968 123456789</p>
                                <p>hello@domain.com</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <div class="language-style-2-wrap language-style-2-right">
                                <span>Need Help?</span>
                                <div class="language-style-2">
                                    <a href="#">WhatsApp</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom copyright text-center">
                    <p>Copyright © 2022 mbay</p>
                </div>
            </div>
        </footer>
    </div>
    <!-- END MAIN WRAPPER -->

    <!-- BASE JS -->
    <script src="assets/shop/js/vendor/jquery-v3.6.0.min.js"></script>
    <script src="assets/shop/js/vendor/popper.min.js"></script>
    <script src="assets/shop/js/vendor/bootstrap.min.js"></script>

    <!-- PAGE JS -->
    <script src="assets/shop/js/plugins/slick.js"></script>
    <script src="assets/shop/js/plugins/wow.js"></script>
    <script src="assets/shop/js/plugins/jquery-ui.js"></script>
    <script src="assets/shop/js/plugins/sticky-sidebar.js"></script>
    <script src="assets/shop/js/currency-lang-switch.js"></script>
    <!-- MAIN JS -->
    {%if MLM_LANG_CODE =='en' %}
    <script src="assets/shop/js/main.js"></script>
    {%elseif MLM_LANG_CODE =='ar' %}
    <script src="assets/shop/js/main-rtl.js"></script>
    {% endif %}

</body>

</html>