<html lang="en">
    <head>
        <title>{{title}}</title>
        <meta charset="utf-8">
        <meta name="format-detection" content="telephone=no" />
        <base href="{{BASE_URL}}"/>
        <link rel="shortcut icon" href="assets/images/logos/{{COMPANY_FAV_ICON}}" />
        <link rel="stylesheet" href="assets/replica/css/style_replica.css">
        <script src="assets/replica/js/jquery.js"></script>
        <script src="assets/replica/js/jquery-migrate-1.1.1.js"></script>
        <script src="assets/replica/js/jquery.easing.1.3.js"></script>
        <script src="assets/replica/js/script.js"></script> 
        <script src="assets/replica/js/jquery.mobilemenu.js"></script></script> 
    <script src="assets/replica/js/superfish.js"></script>
    <script src="assets/replica/js/jquery.equalheights.js"></script>
    <script src="assets/replica/js/tmStickUp.js"></script>
    <script src="assets/replica/js/jquery.ui.totop.js"></script>
    <script>
        $(window).load(function () {
            $().UItoTop({easingType: 'easeOutQuart'});
            $('#stuck_container').tmStickUp({});
        });
    </script>
</head>