    {% include('shop/layout/header.twig')%}

        <!-- Breadcrumb-area -->
        <div class="breadcrumb-area bg-gray">
            <div class="container">
                <div class="breadcrumb-content text-center">
                    <ul>
                        <li><a href="{{BASE_URL}}index">Home</a></li>
                        <li class="active">Contact us</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Breadcrumb-area -->

        <!-- CONTACT -->
        <section class="contact-area pt-120 pb-120 bg-white">
            <div class="container">
                <div class="contact-info-wrap-3 pb-85">
                    <h3>contact info</h3>
                    <div class="row">

                        <div class="col-lg-6 col-md-4">
                            <div class="single-contact-info-3 text-center mb-30">
                                <i class="icon-location-pin"></i>
                                <h4>Location</h4>
                                <p>Seeb, Muscat</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-4">
                            <div class="single-contact-info-3 text-center mb-30">
                                <i class="fa-brands fa-whatsapp"></i>
                                <h4>WhatsApp Shoping</h4>
                                <p><a href="https://api.whatsapp.com/send?phone=+96871010201&text=Hi 👋,%0aI'm interested in buying *Apple iPhone 14 Pro*" target="_blank" title="Mbay WhatsApp Shoping">+968 9551 7939</a></p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </section>
        <!-- END CONTACT -->

    {% include('shop/layout/footer.twig')%}
