    {% include('shop/layout/header.twig')%}

        <!---------------------------------------------------------SPLIT AREA------------------------------------------------------------------------->


        <!-- SLIDER AREA -->
        <section class="slider-area bg-gray-10">
            <div class="container">
                <div class="home-slider nav-style-1 nav-style-1-modify-2 nav-style-1-orange">

                    <!-- SLIDER SINGLE -->
                    <div class="single-hero-slider single-hero-slider-hm10 single-animation-wrap">
                        <div class="row slider-animated-1 align-items-center">
                            <div class="col-lg-6 col-md-5 col-12 col-sm-12">
                                <div class="hero-slider-content-6 slider-content-hm9 slider-content-hm10">
                                    <h5 class="animated">Best Seller</h5>
                                    <h1 class="animated">new ipad pro <br>& phone x</h1>
                                    <div class="btn-style-1">
                                        <a class="animated btn-1-padding-4 btn-1-orange btn-1-font-14" href="#">Shop
                                            Now</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-7 col-12 col-sm-12">
                                <div class="hm10-hero-slider-img">
                                    <img class="animated" src="assets/shop/images/slider/2.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END SLIDER SINGLE -->
                    <!-- SLIDER SINGLE -->
                    <div class="single-hero-slider single-hero-slider-hm10 single-animation-wrap">
                        <div class="row slider-animated-1 align-items-center">
                            <div class="col-lg-6 col-md-5 col-12 col-sm-12">
                                <div class="hero-slider-content-6 slider-content-hm9 slider-content-hm10">
                                    <h5 class="animated">Best Seller</h5>
                                    <h1 class="animated">new ipad pro <br>& iPhone 14 Pro</h1>
                                    <div class="btn-style-1">
                                        <a class="animated btn-1-padding-4 btn-1-orange btn-1-font-14" href="#">Shop
                                            Now</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-7 col-12 col-sm-12">
                                <div class="hm10-hero-slider-img">
                                    <img class="animated" src="assets/shop/images/slider/1.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END SLIDER SINGLE -->
                </div>
            </div>
        </section>
        <!-- END SLIDER AREA -->

        <!-- CATEGORY -->
        <section class="product-categories-area pt-70 pb-70">
            <div class="container">
                <div class="section-title-btn-wrap mb-25">
                    <div class="section-title-8">
                        <h2>Popular Categories</h2>
                    </div>
                    <div class="btn-style-9">
                        <a href="{{BASE_URL}}shop">All Product</a>
                    </div>
                </div>
                <div class="section-wrap-1">
                    <div class="product-categories-slider-1 nav-style-3">

                        <!-- CATEGORY SINGLE -->
                        <div class="product-plr-1">
                            <div class="single-product-wrap">
                                <div class="product-img product-img-border-transparent mb-15">
                                    <a href="#">
                                        <img src="assets/shop/images/category/smartphone.jpg" title="Smartphone" alt="Smartphone">
                                    </a>
                                </div>
                                <div class="product-content-categories-2 product-content-orange text-center">
                                    <h5 class="font-width-dec"><a href="#" title="Smartphone">Smartphone</a></h5>
                                </div>
                            </div>
                        </div>
                        <!-- END CATEGORY SINGLE -->

                    </div>
                </div>
            </div>
        </section>
        <!-- END CATEGORY -->


        <!-- DEAL OF THE DAY -->
        <section class="product-area pb-70 home-deal-area">
            <div class="container">
                <div class="section-title-btn-wrap mb-25 justify-content-end">
                    <div class="btn-style-9">
                        <a href="#">View All Products</a>
                    </div>
                </div>
                <div class="section-wrap-1">
                    <div class="section-title-deal-wrap mb-30">
                        <div class="section-title-8">
                            <h2>deals of the day</h2>
                        </div>
                    </div>

                    <!-- SLIDER START -->
                    <div class="product-slider-active-8 dot-style-2 dot-style-2-position-static dot-style-2-mrg-3 nav-style-5 nav-style-5-modify">

                        <!-- SINGLE ITEM -->
                        <div class="product-plr-1">
                            <div class="single-product-wrap mb-35">
                                <div class="product-img product-img-zoom mb-20">
                                    <a href="#">
                                        <img src="assets/shop/images/product/product-sample.jpg" title="SAMSUNG Galaxy F13 (Waterfall Blue, 64
                                        GB)" alt="SAMSUNG Galaxy F13 (Waterfall Blue, 64
                                            GB)">
                                    </a>
                                    <span class="pro-badge left bg-red">Label</span>
                                    <div class="product-action-wrap">
                                        <div class="product-action-left">
                                            <button><i class="icon-basket-loaded"></i>Add to Cart</button>
                                        </div>

                                    </div>
                                </div>
                                <div class="product-content-wrap">
                                    <div class="product-content-left">
                                        <h4><a href="#" title="SAMSUNG Galaxy F13 (Waterfall Blue, 64
                                            GB)">SAMSUNG Galaxy F13 (Waterfall Blue, 64
                                                GB)</a></h4>
                                        <div class="product-price">
                                            <span class="new-price">OMR 46.00</span>
                                            <span class="old-price">OMR 66.75</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END SINGLE ITEM -->

                    </div>
                    <!-- END SLIDER START -->

                </div>
            </div>
        </section>
        <!-- END DEAL OF THE DAY -->

        <!---------------------------------------------------------SPLIT AREA------------------------------------------------------------------------->


        <!-- SERVICE AREA -->
        <section class="service-area">
            <div class="container">
                <div class="service-wrap">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                            <div class="single-service-wrap mb-30">
                                <div class="service-icon">
                                    <i class="icon-cursor"></i>
                                </div>
                                <div class="service-content">
                                    <h3>Free Shipping</h3>
                                    <span>All Over Oman</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                            <div class="single-service-wrap mb-30">
                                <div class="service-icon">
                                    <i class="icon-reload"></i>
                                </div>
                                <div class="service-content">
                                    <h3>Cash On Delivery</h3>
                                    <span>Available</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                            <div class="single-service-wrap mb-30">
                                <div class="service-icon">
                                    <i class="icon-lock"></i>
                                </div>
                                <div class="service-content">
                                    <h3>100% Secure</h3>
                                    <span>Payment Online</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                            <div class="single-service-wrap mb-30">
                                <div class="service-icon">
                                    <i class="icon-tag"></i>
                                </div>
                                <div class="service-content">
                                    <h3>Best Price</h3>
                                    <span>Guaranteed</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END SERVICE AREA -->

    {% include('shop/layout/footer.twig')%}
